.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 95%;
  justify-content: center;
  margin: auto;
}

.navBar{
  display: flex;
  justify-content: center;
  width: 100%;
}

#welcomeText{
  text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 1);
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: capitalize;
  text-align: right;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.previewProjects{
  display: flex;
  justify-content: center;
  width: 100%;
}

.previewDownloads{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.video{
  display: flex;
  width: 95rem;
  justify-content: center;
}

.video iframe{
  border: 5px solid rgba(252, 252, 253, 1);
  margin: 1rem;
}

.video h1{
  margin: 1rem;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  width: 21.625rem;
  height: 3.8125rem;
}

.video p{
  margin: 1rem;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  max-width: 21.625rem;
}

.socials{
  display: flex;
  width: 95rem;
  justify-content: center;
}

.motd{
  color: rgba(255, 255, 255, 1);
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0px;
  text-decoration: none;
  text-transform: none;
  padding: 1rem;
  display: flex;
  max-width: 95rem;
  justify-content: center;
}

.credits{
  padding: 1rem;
  display: flex;
  max-width: 95rem;
  justify-content: center;
}