.socialCard{
    height: 9.5rem;
    width: 29.1875rem;
    border-radius: 25px;
    background-color: rgba(252, 252, 253, 1);
    display: flex;
    margin: 1rem;
    align-items: center;
    transition: box-shadow 0.4s ease-in-out;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
}

.socialCard:hover{
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.3);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

.socialImage{
    margin-left: 1rem;
    width: 7.125rem;
    height: 7.125rem;
    position: relative;
}

.image{
    object-fit: contain;
}

.socialText{
    max-width: 18rem;
    color: rgba(0, 0, 0, 1);
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0px;
    text-decoration: none;
    text-transform: none;
    text-align: center;
}